IDR_MAINFRAME           ICON    DISCARDABLE     "..\\images\\rfcview.ico"

 1 VERSIONINFO
 FILEVERSION 1, 0, 0, 0
 PRODUCTVERSION 1, 0, 0, 0
 FILEOS 4
 FILETYPE 1
 {
     BLOCK "StringFileInfo" {
         BLOCK "040904b0" {
             VALUE "FileDescription", "qRFCView"
             VALUE "OriginalFilename", "qrfcview.exe"
             VALUE "CompanyName", "Mitsubishi Electric ITE-TCL"
             VALUE "FileVersion", "0.62"
             VALUE "LegalCopyright", "..."
             VALUE "ProductName", "qRFCView"
             VALUE "ProductVersion", "0.62"
         }
     }
     BLOCK "VarFileInfo" {
         VALUE "Translation", 0x0409, 0x04B0
     }
 }